<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <ul>
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/clientes">Clientes</a></li>
      <li><a routerLink="/cadastro">Cadastrar Cliente</a></li>
    </ul>
  </nav>
 -->

 <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Tux Advocaia</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link"routerLink="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/clientes" >Clientes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/cadastro" >Cadastro</a>
      </li>
     
    </ul>
    
  </div>
</nav>